@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(to bottom right, #647df9, #F2F7F2);
    background: #647df9;
}
.main{
    /*background: green;*/
    width: 100%;
    display: block;
}
h1{
    text-align: center;
    font-size: 48px;
    padding: 5px;
}
/*.sec1{
    background: orange;
}
.sec2{
    background: orange;  
}
.sec4{
    background: chocolate;
}*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: aliceblue;*/
}
.ticket{
    width: 330px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 30px;
    padding-bottom: 2%;
}
.head{
    padding-top: 2%;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#reg{
    background-image: linear-gradient(to bottom right, #ffd861, #F2F7F2);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px; 
}
#vp{
    background-image: linear-gradient(to bottom right, #d0b3ff, #F2F7F2);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px; 
}
#vv{
    background-image: linear-gradient(to bottom right, #baf8d4, #F2F7F2);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px; 
}
.type{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;  
}
.harga{
    display: flex;
    justify-content: center;
    max-height: 50px;
}
#regular{
    background: #ffd861;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#vip{
    background: #d0b3ff;
}
#vvip{
    background: #baf8d4;
}
.oldprice{
    text-align: right;
    color: darkslategrey; 
}
#old{
    width: 40%;
}
.currentprice{
    font-size: 28px;
}
#new{
    width: 60%;
}
.tombol{
    display: flex;
    justify-content: center;
}
.btn{
    border: 1px solid pink ;
    background-color:#ffd861;
    border-radius: 7px;

}

ul{
    margin: 5%;
    list-style-type: none;
    display: block;
}
.cek{
    float: right;
}
li{
    margin-bottom: 20px;
}
@media (max-width: 1020px) {
    .wrapper{
        width: 60%;
        margin: auto;
    }
}
.sec4{
    width: 60%;
    margin: auto;
}
.medsos-logo{
    margin: auto;
    display: flex;
}
.logo{
    width: 20%;
    text-align: center;
}
